.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	gap: 1px;
}

.chat__input {
	display: flex;
	flex-flow: column;
	gap: 1px;

	&-field {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border-radius: 6px;
		background-color: rgba(17, 18, 19, 0.55);

		&__text {
			width: 100%;
			height: 100%;
			border: none;
			border-radius: 10px;
			padding: 10px;
			font-size: 16px;
			color: #fff;
		}

		&__send {
			width: 100px;
			height: 100%;
			background-color: rgba(17, 17, 17, 0.65);
			border: none;
			border-radius: 10px;
			padding: 14px;
			font-size: 16px;
			color: #fff;

			&-language {
				color: #7bb2ff;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 600;
				margin-right: 10px;
			}
		}
	}
}
