.commands {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;

	&__hint {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2px;

		&-text {
			font-size: 10px;
			color: #626262;
		}
	}

	&__list {
		width: 134px;
		height: 95px;
		display: flex;
		flex-direction: column;
		gap: 5px;
		border: 1px solid #7bb2ff;
		background-color: rgba(17, 17, 17, 0.72);
		border-radius: 8px;
		overflow: hidden;

		&-item {
			padding: 6px 9px;
			transition: background-color 0.2s ease-in-out;
			color: #7bb2ff;
			font-size: 16px;
			font-weight: 500;

			&:hover,
			&.active {
				background-color: #262626;
			}
		}
	}
}
